
@{
    ViewBag.Title = "Quản lý phòng học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Quản lý phòng học</h3>
<div id="grid"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            dataSource = new kendo.data.DataSource({
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("Read"))",
                            type: "POST",
                            dataType: "json",
                        },
                        update: {
                            url: "@Html.Raw(Url.Action("Update"))",
                            type: "POST",
                            dataType: "json",
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("Destroy"))",
                            type: "POST",
                            dataType: "json",
                        },
                        create: {
                            url: "@Html.Raw(Url.Action("Create"))",
                            type: "POST",
                            dataType: "json",
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "MaPhong",
                        fields: {
                            MaPhong: { type: "number", nullable: false },
                            TenPhong: { validation: { required: true } },
                            SucChua: { type: "number", validation: { required: true, min: 0, max: 50 } },
                        }
                    }
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                height: 500,
                toolbar: ["create"],
                columns: [
                    { field: "TenPhong", title: "Tên Phòng" },
                    { field: "SucChua", format: "{0:0}", title: "Sức Chứa" },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                editable: "inline",
            });
        });
    </script>
}
