html, body {
    height:100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Sticky footer styles
-------------------------------------------------- */
/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 50px 0;
}

/* Set the fixed height of the footer here */
footer {
  min-height: 50px;
  background-color:#f1f1f1;
}

.footer-content {
    line-height:50px;
    vertical-align: middle;
}
