
@{
    ViewBag.Title = "Quản lý khối lớp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Quản lý khối lớp</h3>
<div id="grid"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            dataSource = new kendo.data.DataSource({
                    type: "json",
                    transport: {   
                        read: {
                            url: "@Html.Raw(Url.Action("Read"))",
                            type: "POST",
                            dataType: "json",
                        },
                        update: {
                            url: "@Html.Raw(Url.Action("Update"))",
                            type: "POST",
                            dataType: "json",
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("Destroy"))",
                            type: "POST",
                            dataType: "json",
                        },
                        create: {
                            url: "@Html.Raw(Url.Action("Create"))",
                            type: "POST",
                            dataType: "json",
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,
                    pageSize: 20,
                    schema: {
                        model: {
                            id: "MaKhoi",
                            fields: {
                                MaKhoi: { type:"number", nullable: false },
                                TenKhoi: {validation: { required: true } },
                            }
                        }
                    }
                });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                height: 500,
                toolbar: ["create"],
                columns: [
                    { field: "TenKhoi",title: "Tên Khối" },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }],
                editable: "inline",
                save: function (e) {
                    var tenKhoi = e.model.TenKhoi;
                    var maKhoi = e.model.MaKhoi;
                    var data = this.dataSource.data();
                    for (item in data) {
                        if (data[item].TenKhoi == tenKhoi &&
                           data[item].MaKhoi != maKhoi) {
                            e.preventDefault();
                            alert("Duplicates not allowed");
                        }
                    }
                },
            });
        });   
    </script>
}
