
<link rel="stylesheet" href="~/Content/kendo/2015.3.1111/kendo.common.min.css" />
<link rel="stylesheet" href="~/Content/kendo/2015.3.1111/kendo.default.min.css" />


<h3>Danh Sách Học Sinh</h3>

<div id="grid-hocsinh"></div>

<script type="text/x-kendo-template" id="template">
        <button id="btnSelectHocSinh" class="k-button">Chọn Học Sinh</button>
    </script>

<script>
        var dsGioiTinh = [{ "value": true, "text": "Nam" }, { "value": false, "text": "Nữ" }];
        $(document).ready(function () {
            @*var dataSource = new kendo.data.DataSource({
                type: "json",
                transport: {
                    read: {
                        url: "@Url.Action("ReadHocSinh")",
                        type: "POST",
                        dataType: "json"
                    },
                    update: {
                        url: "@Url.Action("SelectHocSinh")",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function(options, operation) {
                        if (operation != "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                schema: {
                    model: {
                            id: "MaHocSinh",
                            fields: {
                                MaHocSinh: { type: "number" },
                                HoTen: { type: "string" },
                                NgaySinh: { type: "date" },
                                GioiTinh: { type: "boolean" },
                                Checked: { type: "boolean" },
                                Active: { type: "boolean" }
                            }
                    }
                }
                });*@

            $("#grid-hocsinh").kendoGrid({
                filterable: false,
                sortable: true,
                editable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                toolbar: kendo.template($("#template").html()),
                columns: [
                    { field: "HoTen", title: "Họ Tên" },
                    { field: "NgaySinh", title: "Ngày Sinh", template: "#= kendo.toString(NgaySinh, 'dd/MM/yyyy') #" },
                    { field: "GioiTinh", values: dsGioiTinh, title: "Giới Tính" },
                    { field: "Checked", title: "Chọn", template: '<input type="checkbox" #= Checked ? \'checked="checked"\' : "" # class="chkbx" />' }
                ]
            });

            $("#grid-hocsinh .k-grid-content").on("change", "input.chkbx", function (e) {
                var grid = $("#grid-hocsinh").data("kendoGrid");
                dataItem = grid.dataItem($(e.target).closest("tr"));
                dataItem.set("Checked", this.checked);
            });

            $("#btnSelectHocSinh").click(function () {
                var selectedItems = $('#grid-hocsinh input:checked');
                if (selectedItems.length == 0)
                    alert("Vui lòng chọn học sinh");
                else {
                    //var grid = $("#grid-hocsinh").data("kendoGrid");
                    //grid.saveChanges();

                }
            });
        })
    </script>    