@{
   
}

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Quản Lý Khen Thưởng</title>

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link href="~/Scripts/jtable/themes/metro/green/jtable.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.min.css" rel="stylesheet" type="text/css"/>
   
</head>
<body>
    <div id="QLKTContainer"></div>


</body>

@section scripts{
    <script src="~/Scripts/jtable/jquery.jtable.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#QLKTContainer').jtable({
                title: 'Danh sách thông tin khen thưởng',
                actions: {
                    listAction: '/KhenThuong/GetAllKhenThuong',
                    createAction: '/KhenThuong/CreateKhenThuong'
                },
                fields: {
                    MaTTKhenThuong: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    MaGiaoVien: {
                        title: 'Giáo Viên',
                        options: '/KhenThuong/GetGiaoVienOptions'
                    },
                    MaHocSinh: {
                        title: 'Học Sinh',
                        options: '/KhenThuong/GetHocSinhOptions'
                    },
                    MaTietHoc: {
                        title: 'Tiết Học',
                        options: '/KhenThuong/GetTietHocOptions'
                    },
                    NoiDungKhenThuong: {
                        title: 'Nội dung khen thưởng'
                    },
                    NgayKhenThuong: {
                        title: 'Ngày khen thưởng',
                        type: 'date',
                        displayFormat: 'dd-mm-yy'
                    }
                }
            });
            $('#QLKTContainer').jtable('load');
        });
    </script>

}
